.annonce{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    border: solid 1px black;
    border-radius: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    color: $color_noir;
    background-color: $color_blanc;
    &:has(> .btn__postuler:hover){
        background-color: $color_bleu;
        color: $color_blanc;
        transition: 0.3s;
        box-shadow: 0 0 15px $color_bleu;
        & .divider{
            background-color:  white;
        }
    }
    & .annonce-top{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    & .ville{
        width: 80%;
    }
    & .divider{
        width: 80%;
        background-color: $color_noir;
        border-radius: 2px;
        height: 2px;
    }
    & .description{
        width: 80%;
    }
    & .btn__postuler{
        background-color: $color_blanc;
        width: 40%;
        height: 40px;
        font-weight: 900;
        color: $color_noir;
        border-radius: 3px;
        border: 2px solid $color_noir;
        font-size: medium;
    }
    
}