div{
    & .popup{
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        & .popup__ins__top{
            background-color: white;
            margin-bottom: 10px;
            border-radius: 20px;
            height: 25vh;
            display: flex;
            flex-direction: column;
            animation: showup 0.5s ease;
            align-items: center;
            padding: 40px;
            & .etapes{
                display: flex;
                padding: 50px;
                flex-wrap: nowrap;
                flex-direction: row;
                z-index: 1;
                & ::before{
                    position: absolute;
                    content: '';
                    background-color: $color_gris;
                    height: 10px;
                    width: 40px;
                    margin-left: 70px;
                    z-index: -1;
                }
                & ::after{
                    position: absolute;
                    content: '';
                    background-color: $color_gris;
                    height: 50px;
                    width: 50px;
                    z-index: -1;
                    border-radius: 100%;

                }
                & div:nth-child(5)::before{
                    content: none;
                }
                & .etape{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $color_gris;
                    padding: 5px;
                    border-radius: 100%;
                    color: white;
                    height: 50px;
                    width: 50px;
                    margin-left: 10px;
                    font-weight: bold;
                    &::before{
                        background-color: $color_gris;
                        position: absolute;
                        content: '';
                        height: 10px;
                        margin-left: -20px;
                        width: 70px;
                    }
                }
                & .etape__valide{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $color_bleu;
                    padding: 5px;
                    border-radius: 100%;
                    color: white;
                    height: 50px;
                    width: 50px;
                    margin-left: 10px;
                    font-weight: bold;
                    transition: 1s;
                    &::before{
                        position: absolute;
                        content: '';
                        background-color: $color_bleu;
                        height: 10px;
                        width: 30px;
                        margin-left: 70px;
                        z-index: -1;
                    }
                    &:nth-child(5)::before{
                        content: none;
                    }
                    &:nth-child(4)::before{
                        content: none;
                    }
                    @for $i from 1 through 4 {
                    & div:nth-child(#{$i})::before{
                            background-color: rgba(0, 0, 0, 0.2);
                        }
                    }
                }
            }
        }
        & .popup__container{
            min-width: 300px;
            max-width: 600px;
            min-height : 300px;
            word-wrap: break-word;
            padding: 42px 40px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            z-index: 3;
            animation: showup 0.5s ease;
            background-color: white;
            border-radius: 12px;

            & h1 {
                text-align: center;
                font-size: 32px;
            }

            & .role__compte {
                transition: .3s;
                min-width: 200px;
                min-height: 42px;
                border-radius: 2px;
                border: 2px solid $color_bleu;
                padding: 6px 10px;
                font-size: 16px;
                color: $color_bleu;
                background-color: transparent;
            }

            & .role__compte:hover {
                color: white;
                cursor: pointer;
                background-color: $color_bleu;
            }

            & .popup__annonce{
                background-color: red;
            }
        }
        & .exit {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 30px;
            color: $color_blanc;
        }
        & .exit:hover {
            transition: .3s;
            color: $color_rouge;
        }
    }
    .background__popup{
        position: absolute;
        height:100vh;
        width: 100%;
        z-index: 1;
    }
}