@import "@style/mixinauth.scss";
.inscri{
    @include home();
    & .auth__container{
        @include cont();
        & .logo{
            position: relative;
            & img{
                @include img();
            }
        }
        & .auth__cont{
            @include auth();
            & .illustration{
                width: 700px;
                & img{
                    width: 100%;
                }
            }
        }
    }
}