.traducteur {
    position : fixed;
    top : 75vh;
    width: 300px;
    height: 60px;
    left : 0;
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 8px;
    background-color: $color_bleu;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px ;
    z-index: 3;
    transition: .8s;

    & .goog-te-gadget {
        font-family: Poppins, sans-serif;
        font-size: 13px;
        color : white;
        padding: 4px 10px;
    }

    & select {
        padding: 4px 18px;
        font-family: Poppins, sans-serif;
        background-color: white;
        border-radius: 1rem;
        border: 1px solid black;
    }

    & .traducteur__bouton {
        cursor: pointer;
    }
}

.traducteur:hover {
    background-color: $color_oronge;
}