#image__password{

    animation: showup 1s ease;
    margin-top: 50px;
}
#ecran{
    opacity: 0;
}
#password{
    animation: showup 1s ease;
}

@keyframes showup {
    0%{
        opacity: 0;
    }
}