@mixin home(){
    height:100vh;
    background-image: url(@image/bacgraound_auth.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin cont(){
    height: 80vh;
    width: 80vw;
    border: 3px solid $color_bleu;
    border-radius: 10px;
    background: white;
}
@mixin img(){
    height: 60px;
    position: absolute;
    top: 5px;
    left: 5px;
}
@mixin auth(){
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}