@import "@style/mixinprof.scss";
.profile {
    @include card();
    & .info {
        @include info();
    }
    & .inf_perso {
        display: flex;
        flex-direction: column;
        width: $with;
    }
    & .inf_cont {
        width: $with;
    }
    & .contact {
        width: $with;
        display: flex;
        & .tel {
            vertical-align: middle;
            width: 50%;
        }
    }
}