$color_8b:#8B8B8B;

.form{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100%;

    & .ins__group__cv{

        height: 100px;
        border-radius: 15px;
        border: 3px dashed $color_8b;
        overflow: hidden;
        & Input{
            position: relative;
            height: 100%;
            width: 100%;
            transform: scale(3);
            // opacity: 0;

        }
    }
    
    & .ins__group__nom__prenom{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 20px;
        
        & Input{
            padding: 10px;
            border-radius: 10px;
            height: 25px;
            border: none;
            box-shadow: 0 0 1px black;
            margin-bottom: 10px;
            &:hover{
                box-shadow: 0 0 0px 1px $color_bleu;
            }
            
        }
        
        & #nom{
            width: 21%;
            
        }
        & #prenom{
            margin-left: 10px;
            width: 21%;
        }
    }

& .ins__group__genre{



}

& .ins__group{
        margin-top: 10px;
        width: fit-content;
        margin-bottom: 10px;
        & Input{
            border-radius: 10px;
            border: none;
            height: 25px;
            box-shadow: 0 0 1px black;
            padding: 10px;
            
            &:hover{
                box-shadow: 0 0 0px 1px $color_bleu;
            }
            
        }
    }
    
    
    
    
    
    
}

.ins__group__suivant__precedent{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 50px;

    #sing{
        border-radius: 15px;
        background-color: $color_bleu;
        color: white;
        border: none;
        padding: 10px;
        font-size: medium;
        font-weight: bold;
        flex-direction: row-reverse;
        cursor: pointer;
    }
    #precedent{
        border-radius: 15px;
        color: $color_bleu;
        border: none;
        padding: 10px;
        font-size: medium;
        background-color: white;
        font-weight: bold;
        cursor: pointer;
    
    
    }
}
