.home{
    background-image: url(@image/bacgraound_home.svg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 50px;

    & .left{
        width: 580px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        & .search {
            width: 100%;
        }

        & h1{
            color: $color_bleu;
            font-size: 40px; 
            font-weight: bold;
            transition: 1s;
        }
        & h2{
            font-size: 20px; 
            animation: description 1s ease;
        }
        #desc1{
            animation: description 1s ease;
        }
        #desc2{
            animation: description 1s ease;
            
        }
        #desc3{
            animation: description 1s ease;
            
        }
    }
}
@media screen and (max-width: $breakpoint_tel) {

    .home{
        padding: 30px;
        margin-bottom: 30px;

        & .img{
            transform: scale(0.7);
        }

        & .left{
            width: 100vw;
            & h1{
                font-size: 30px;
            }
            & h2{
                font-size: 18px; 
            }
        }
    }
    
 }

 @keyframes description {
    0%{
        opacity: 0;
        transform: translateY(5px);
    }
 }