.home{
    background-image: url(@image/bacgraound_home.svg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
    & .img{
        right: 10px;
    }
    & .left{
        width: 580px;
        & h1{
            color: $color_bleu;
            font-size: 40px; 
            font-weight: bold;
            margin: 25px 5px;
        }
        & h2{
            font-size: 20px; 
            margin: 5px 4px;
        }
    }
}