.footer{
    width: 100%;
    margin-bottom:0;
    
    background-color: $color_n_bleu;
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    bottom: 0;
    //text
    color: $color_w_bleu;
    & a{text-decoration: none;color: $color_w_bleu;}
    & li{list-style-type: none;}
    & .footer_info{
        height: 220px;
        padding-left: 10px;
        display: flex;
        border-bottom: 1px solid $color_w_bleu;
        & .app_name{
            width: 45%;
            display: flex;
            flex-direction: column;
            & .logo{
                margin-left: 15px;
                height: 60px;
                & img{
                height: 100%;
                }
            }
            & .slogo{
                margin: {left :15px; top: 15px};
                width: 50%;
                & p{
                    font-size: 20px;
                }
            }
            & .sub{
                margin-top: 20px;
                & #emails{
                    height: 30px;
                    padding-left: 10px;
                    width: 200px;
                    &::placeholder{
                        color: #bbb;
                    }
                }
                & #subscribe{
                    padding: 5px;
                    background-color: $color_oronge;
                    color: $color_gris;
                }
            }
        }
        & .link{
            margin-top: 30px;
            width: 40%;
            & h3{
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        & .contact{
            margin-top: 30px;
            & h3{
                font-size: 20px;
                margin-bottom: 10px;
            }
            & .social-links{
                margin-top: 15px;
                display: flex;
                justify-content: center;
                & .tw,& .fb,& .li{
                    margin: {left: 5px;right: 5px;};
                }
            }
        }
    }
    & .policy{
        display: flex;
        justify-content: space-between;
        & .copy{
            margin-left: 5px;
        }
        & .policy_link{
            & a{
                margin: {left: 10px;right: 10px;};
            }
        }
    }
} 