.jobSearch{
    background-color: $color_gris;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "sideBar search search search search" "sideBar lists lists lists lists" "sideBar lists lists lists lists" "sideBar pagination pagination pagination pagination";
    grid-gap: 0.2rem;
    & .search{
        width:100%;
        background-color: $color_blanc;
        grid-area: search;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    & #type_de_travail{
        position: relative;
        background-color: red;
    }
    & .list{
        grid-area: lists;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 100vh;
        margin-bottom: 50px;
    }
    & .pagination{
        grid-area: pagination;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}