nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0px;
    background-color: $color_secondary;
    width: 100vw;
    top: 0px;
    background-color: $color_secondary;
    & .logo{
        height: 60px;
        & img{
            height: 100%;
        }
    }
    & .menu{
        & li{
            display: inline-block;
            margin: 15px 20px;
            & a{
                text-decoration: none;
                color: $color_b;
                font-size: 16px;
            }
            &:hover{
                & a{
                    color: $color_3;
                    transition: 0.3s;
                }
            }
        }
    }
    & .log{
        @mixin btn ($c1,$c2){
            background-color: $c1;
            color: $c2;
            border: 1px solid $color_primary;
            padding: 8px 20px;
            border-radius: 6px;
            font-size: 16px;
            margin: 10px 5px;
            transition: 0.5s;
            cursor: pointer;
        }
        @mixin btn__active (){
            opacity: 0.8;
            transition: 0.3s;
            cursor: pointer;
        }
        & #sing{
            @include btn($color_secondary,$color_primary);
            &:hover{
                @include btn($color_primary,$color_secondary);
            }
            &:active{
                @include btn__active()
            }
        }
        & #log{
            @include btn($color_primary,$color_secondary);
            &:active{
                @include btn__active() 
            }
        }
    }
    & .burguer{
        display: none;
    }
    & .__langue{
        background-color: $color_secondary;
        border-radius: 5px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 10px;
        z-index: 1;
    }
    & .__langue__menu{
        & ul {
            cursor: pointer;
            
            & li{
                margin-left: auto;
                margin-right: auto;
                display: none;
                list-style-type: none;
                cursor: pointer;
            }
            &:hover{
                box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.107);
                border-radius: 3px;
                & li{
                    display: block;
                    background-color: $color_secondary;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1130px) {
    nav{
        & .menu{
            display: none;
            // &.active{

            // }
        }
        & .log{
            display: none;
        }
        & .burguer{
            height: 30px;
            width: 30px;
            display: flex;
            flex-wrap: wrap;
            margin-top: 5px;
            cursor: pointer;
            & div{
                height: 3px;
                border-radius: 6px;
                width: 100%;
                background-color: black;
            }
            // & .top{
            // }
            & .middle{
                transform: translateY(-5px);
            }
            & .bottom{
                transform: translateY(-10px);
            }
        }
    }
}