header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70px;
    top: 0;
    z-index: 2;
    background-color: $color_blanc;

    & .logo {
        overflow: hidden;
        & img {
            height: 100%;
        }
    }
    & nav {
        width: 460px;

        & .menu {
            width: 100%;
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }
        & li {
            & .item {
                & a {
                    text-decoration: none;
                    color: $color_noir;
                    font-size: 16px;
                }
            }
            & .item__selected {
                transition: 0.3s;
                & a {
                    color: $color_oronge;
                    text-decoration: none;
                    position: relative;
                }
                & a::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 100%;
                    background: $color_oronge;
                    height: 5px;
                    width: 5px;
                }
            }
            &:hover {
                & a {
                    color: $color_oronge;
                    transition: 0.3s;
                }
            }
        }
    }
    & .log {
        width: 300px;
        & div {
            display: flex;
            justify-content: space-between;
        }
        & .out-google{
            display: none!important;
        }
        @mixin btn($c1, $c2) {
            background-color: $c1;
            color: $c2;
            border: 2px solid $color_bleu;
            padding: 6px 18px;
            border-radius: 6px;
            font-size: 16px;
            transition: 0.5s;
            font-family: Poppins, sans-serif;
            cursor: pointer;
        }
        @mixin btn__active() {
            opacity: 0.8;
            transition: 0.3s;
            transform: scale(0.9);
            cursor: pointer;
        }
        & .desco {
            @include btn($color_bleu, $color_blanc);
            display: flex;
            align-items: center;
            width: 200px;
            & a {
                margin-left: 5px;
                text-decoration: none;
                color: $color_blanc;
            }
            &:hover {
                @include btn($color_blanc, $color_bleu);
                & a {
                    color: $color_bleu;
                }
            }
            &:active {
                @include btn__active();
            }
        }
        & #sing {
            @include btn($color_blanc, $color_bleu);
            &:hover {
                @include btn($color_bleu, $color_blanc);
            }
            &:active {
                @include btn__active();
            }
        }
        & #log {
            @include btn($color_bleu, $color_blanc);
            &:hover {
                background-color: $color_oronge;
                border: 2px solid $color_oronge;
            }
            &:active {
                @include btn__active();
            }
        } 
    }

    & .mobile__menu {
        display: none;
    }
}

#hamburger {
    display: none;
}

@media screen and (max-width: $breakpoint_tel){
    nav {
        display: none;
    }

    .log {
        display: none;
    }

    #hamburger {
        color: $color_bleu;
        display: block;
        z-index: 4;
        transition: .3s;
        cursor: pointer;
    }

    .mobile__menu {
        z-index: 0;
        width: 100vw;
        height: 72vh;
        background-color: rgba($color: $color_bleu, $alpha: .8);
        position: fixed;
        top: 0;
        left: 0;
        transition: .6s !important;
        justify-content: center;

        & .menu {
            // margin-top: 70px;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            
            & li {
                margin-bottom: 12px;
            }

            & li > a {
                color: white;
                text-decoration: none;
                font-size: 22px;
                margin-bottom: 10px;
            }

            & li > a:hover, & li > a:focus {
                color: $color_oronge;
                transition: .5s;
            }

            & .mobile__auth {
                width: 180px;
                height: 42px;
                border: 2px solid white;
                background-color: transparent;
                color: white;
                font-size: 22px;
                margin-bottom: 10px;
                cursor: pointer;
            }

            & .mobile__auth:hover, .mobile__auth:focus{
                background-color: white;
                transition: .5s;
                color: black;
            }
        }
    }
}

@keyframes showup {
    0% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes selected {
    0% {
        transform: translate(3px, 35px);
        opacity: 0;
    }
    75% {
        transform: translate(3px, 20px);
    }
    100% {
        transform: translate(3px, 25px);
    }
}
